@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Inconsolata:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;
}

body {
    font-family: "Poppins";
}

/* ############################### NAVBAR START ############################## */

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    padding-bottom: 1.5rem;
    max-width: 1400px;
    margin: 0 auto;
}

.box-shadow-nav {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

header ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

a {
    text-decoration: none;
    color: black;
}

.socials {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
/* ############################### NAVBAR ENDS ############################## */


/* ############################### ABOUT START ############################## */

.section-title {
    text-align: center;
    font-family: 'Inconsolata';
    width: 76%;
    margin: 2rem auto;
    margin-top: 120px;
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 1rem;
    border-bottom: 3px solid #000;
}

.about-content {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.about-content p {
    font-size: 1.1rem;
    line-height: 1.9rem;
    margin-top: 0.5rem;
}
/* ############################### ABOUT ENDS ############################## */

/* ############################### EXP1 START ############################## */
.exp-content {
    width: 76%;
    margin: 0 auto;
}

.exp-title {
    display: inline-block;
    border-bottom: 3px solid rgb(98, 97, 97);
    padding-bottom: 0.5rem;
}

.exp-title h3 {
    font-weight: 500;
}

.content-left-exp1 p {
    font-size: 0.7rem;
    margin-top: 0.5rem;
    color: rgb(100, 100, 100);
}

.exp1-content {
    margin-top: 1rem;
    padding-left: 2rem;
    font-weight: 400;
    font-size: 0.8rem;
    width: 70%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}
/* ############################### EXP1 ENDS ############################## */

/* ############################### EXP2 START ############################## */
.exp-content-2 {
    width: 76%;
    margin: 0 auto;
    margin-top: 3rem;
}

.ivy-logo {
    width: 120px;
    margin-right: 2rem;
}
/* ############################### EXP2 END ############################## */

.kaggle-logo {
    width: 120px;
    height: 120px;
    margin-right: 2rem;
}

/* ############################### Projects START ############################## */
.ext-links {
    height: 18px;
    width: 18px;
}

.makere {
    height: 200px;
    width: 230px;
    border-radius: 10px;
    margin-top: -30px
}

.denom {
    height: 180px;
    width: 180px;
}

.tankstars {
    height: 150px;
    width: 240px;
    border-radius: 10px;
    margin-top: -30px
}


.c {
    width: 40px;
    height: 40px;
}

.skills-top-row {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
    align-items: center;
}

.footer-text {
    font-family: 'Cantarell', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: rgb(70, 70, 70);
    text-align: center;
    margin-top: 20px;
}

.footer-div {
    margin-top: 3rem;
    display: flex;
    gap: 3px;
    justify-content: center;
}

.copyright {
    width: 10px;
    height: 10px;
    margin-top: 24px;
}

/* ############################### Projects END ############################## */

@media screen and (max-width: 1020px) {
    .makere {
        display: none;
    }
    
    .denom {
        display: none;
    }
    
    .tankstars {
        display: none;
    }

    .ivy-logo {
        display: none;
    }
    
    .kaggle-logo {
        display: none;
    }

    .scaletorch-logo {
        display: none;
    }

    .melodet {
        display: none;
    }
}