@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

body {
    font-family: "Poppins";
}

/* ############################### NAVBAR START ############################## */

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    padding-bottom: 1.5rem;
    max-width: 1400px;
    margin: 0 auto;
}

.box-shadow-nav {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

header ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

a {
    text-decoration: none;
    color: black;
}

.socials {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
/* ############################### NAVBAR ENDS ############################## */
